html {
  height: 100%;
  width: 100%;
}

.main {
  min-height: 50vh;
  min-width: 95vw;

  background-color: gray;
  text-align: center;

  padding: 10px;
}

.main h1 {
  color: white;
}

.outer {
  display: flex;

  justify-content: center;
  align-items: center;

  min-height: 50%;


  background-color: pink;
  border: 2px solid white;
}

.inner {
  flex: 1;
  display:flex;

  color: white;
  height: 100px;

  justify-content: center;
  align-items: center;
}

.inner img {
  max-width: 90%;
  max-height: 90%;

  width: auto;
  height: auto;

  display: block;
  margin: auto;
}

.background-green {
  background-color: green;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}

.border {
  border: 2px solid white;
  padding: 10px;
  margin: 10px
}
